@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    
    display: flex;
    flex-direction: column;
}
header.navbar-container {
    max-width: 1500px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-bottom: 0.3rem;
    z-index: 999;
}
    
header.navbar-container .logo img {
    width: 180px;
}
header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
   
header.navbar-container .nav-list li {
    list-style-type: none;
}
   
header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}
header.navbar-container .nav-list li:hover a {
    background-color: #1d4355;
    color: white;
}
main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: .4rem 4rem;
    flex: 1;
   
    display: flex;
    align-items: center;
}
main .content {
    flex: 1;
    display: flex;
    align-items: center;
}
main .content .content-description {
    flex: 1 1;
}
   
main .content .content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
}
   
main .content .content-description p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,.2fr);
  gap: 2rem;
  position: relative;
}
.card{
  width: 8.5rem;
  height: 7.5rem;
  margin: 10px 0;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);

}
.card a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
.head-card img{
    width: 4rem;
    display: flex;
    margin-block: .5rem;
    margin-inline: auto;
    object-fit: cover;
}
.body-card p{
    padding: 10px 15px;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
main.display{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: .4rem 4rem;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;  
}
div.display-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}
div.card-obat{
    width: 11rem;
    height: 18rem;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
.head-obat{
    width: 4rem;
    display: flex;
    margin-block: .75rem;
    margin-inline: auto;
    object-fit: cover;
}
div.body-obat h2,p{
    margin-block: .5rem;
    text-align: center;
}
div.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2rem;
}
.tambah{
    border-radius: 5px;
    border: 1px solid #289dd2;
    margin-top: 1rem;
    width: 7rem;
    padding: .25rem;
    color: black;
    background-color: #289dd2;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.tambah:hover{
    background-color: #1d4355;
    color: beige;
}
form.search{
    margin-top: 1rem;
    padding: .25rem;
}
form input.search{
    border-radius: 5px;
    padding: .25rem;
}
main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
    display: flex;
}
main aside img{
    height: 70%;
    margin: auto;
}
footer{
    display: flex;
    gap: 1rem 1rem;
    justify-content: space-between;
    z-index: 999;
    width: 100%;
    background-color: #289dd2;
}
footer p{
    display: flex;
    gap: 1rem 1rem;
    color: beige;
    font-weight: 600;
    margin-inline-start: 1rem;
    margin-block: 1rem;
}
div.social-media{
   display: flex;
   justify-content: center;
}
div.social-media p{
    line-height: 25px;
}
.social-media ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-inline-end: 1rem;
}
.social-media li {
    list-style-type: none;
}
.social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
}
   
.social-media li a:hover {
    color: #89b0d9;
}
div.form-container{
    display: flex;
    flex: 1;
}
form.warp{
  display: flex;
  flex-flow: column;
  width: 20rem;
  height: auto;
  margin: auto;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);

}
form.warp span{
    display: block;
    margin-bottom: .25rem;
    font-weight: 500;
}
form.warp .opsi{
    display: flex;
}
form.warp .opsi input{
    width: auto;
}
.file::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 35px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}
  
  /* file upload button hover state */
.file::file-selector-button:hover {
    background-color: #f3f4f6;
}
  
  /* file upload button active state */
.file::file-selector-button:active {
    background-color: #e5e7eb;
}
form.warp input{
    display: block;
    margin-bottom: 1rem;
    padding-block: .2rem;
    padding-inline: .75rem;
    line-height: 1.2rem;
    width: 100%;
    border-width: 1px;
    border-radius: .25rem;
}
form.warp .tombol{
    border-radius: 5px;
    width: 5rem;
    margin: auto;
    background-color: #289dd2;
    cursor: pointer;
}
form.warp .tombol:hover{
    background-color: #1d4355;
    color: beige;
}
form.warp a{
    margin: auto;
    text-decoration: none;
    color: #1d4355;
}
form.warp a:hover{
    color: #89b0d9;
}
form.warp .goldar{
    display: block;
    margin-bottom: 1rem;
    padding-block: .3rem;
    padding-inline: .75rem;
    line-height: 1.25rem;
    width: 100%;
    border-width: 1px;
    border-radius: .25rem;
}
form.warp .container-daftar{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5rem;
    position: relative;
}
main aside img.desain{
    height: 70%;
    margin-top: 9.7rem;
}
div.table-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
table.tampil-table{
    margin: 0 auto;
    border-collapse: collapse; 
}
thead {
    background: #289dd2;
    font-weight: bold;
}  
table th,td {
    padding: 5px 10px;
    border: 1px solid #f2f5f7;
    text-align: center;
}
td .tombol{
    border-radius: 5px;
    width: 5rem;
    margin: auto;
    background-color: #289dd2;
    color: #1d4355;
    text-decoration: none;
}      
td .tombol:hover{

    background-color: #1d4355;
    color: beige;
}
a.page-link{
    border-radius: 5px;
    border: 1px solid #289dd2;
    width: 5rem;
    margin: auto;
    padding: 2px;
    color: black;
    background-color: #289dd2;
    cursor: pointer;
    text-decoration: none;
}
a.page-link:hover{
    background-color: #1d4355;
    color: beige;
} 
nav.page-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
}     
nav.page-container a.page{
    border-radius: 5px;
    border: 1px solid #289dd2;
    width: 2rem;
    margin-inline: .375rem;
    margin-top: 1rem;
    padding: 2px;
    color: black;
    background-color: #289dd2;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}  
nav.page-container a.page:hover{
    background-color: #1d4355;
    color: beige;
}   